[submodule "submodules/Depth-Anything-V2"]
	path = submodules/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "submodules/nvdiffrast"]
	path = submodules/nvdiffrast
	url = https://github.com/NVlabs/nvdiffrast.git
